header{
    .navbar2{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    gap: 1rem;
    background-color: rgb(196, 180, 210);
    padding: 1rem;
    flex-wrap: wrap;

}

.navbar2 li a{
    color: black;
    text-decoration: none;
}
.navbar2 li a:hover{
 background-color: black;
 color: rgb(206, 161, 248) ;
 padding: 1rem;
}

}

body{
background-image: url(../img/foto\ 1.JPG);
background-repeat: no-repeat;
background-size: cover;

}
main{

    p{
        color: white;
        font-size: 20px;
        padding: 2rem;
        background-color: black;
        gap: 1rem;
        }
    
        .fotora{
        display: flex;
        justify-content: center;
    }

    .titulo_info{
        font-size: 40px;
        color: rgb(206, 161, 248);
       
    }
    
    .foto-delestudio{
        display: flex;
        justify-content: center;
    }
}
