.body_nos{
    background-image: url(../img/foto\ 3.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header{

    .navbar_4{
        display: flex;
        list-style-type: none;
        justify-content: space-around;
        gap: 1rem;
        background-color: rgb(5, 0, 9);
        padding: 1rem;
        flex-wrap: wrap;
    }
    .navbar_4 li a{
        text-decoration: none;
        color: rgb(89, 7, 167);
        
    }
    .navbar_4 li a:hover{
        background-color:rgb(89, 7, 167) ;
        color: black;
        padding: 1rem;
    }
}

.qsomos{
    color: rgb(89, 7, 167);
}


main{
    .direccion h2{
        color: rgb(89, 7, 167);
        font-size: 30px;

        .direccion p{
            padding: 2rem;
        }
    }
}

.redes h3{
    color:rgb(89, 7, 167) ;
    font-size: 35px;

    .logito{
        width: 50px;
    }
    .logos_1 li a{
      text-decoration: none;
    color: rgb(189, 182, 182);
    font-size: 20px;
    }
}


